img.right {
    float: right;
}
img.left {
    float: left;
}
img.center::parent {
    text-align: center;
}
a.absent {
    color: salmon;
}
.article {
    float:center;
    display:inline-block;
    width:650px;
}
.sidebar {
    float:left;
    display:inline-block;
    padding-right: 20px;
    width:230px;
}
.sidebar nav ul li {
    border-bottom:1px solid lightgray;
    padding-bottom: 5px;
    padding-top: 5px;
}

.sidebar nav ul {
    list-style: none;
    padding-left: 25px;
    padding-bottom: 0;
}

.sidebar nav li.collapsed {
    list-style-image:url("../img/collapsed-arrow.png");
}
.sidebar nav .sidebar li.expanded {
    list-style-image:url("../img/expanded-arrow.png");
}
.sidebar nav ul li a {
    color: #444444;
    font-weight:bold;
    padding:0;
    border:none;
    display:inline;
}
.sidebar nav ul li ul li a {
    color: #444444;
    font-weight: normal;
}
.sidebar nav ul li ul li {
    border: none;
}
.sidebar p a {
    color: #444444;
    font-size: 11px;
}
.sidebar p {
    margin: 0;
    padding: 0;
    padding-left: 25px;
    padding-bottom: 5px;
}
